<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link type="text/css" href="./style.css" rel="stylesheet" >
        <title><%=title %></title>
    <style>
        h1 {font-size:60pt; color:#eee;
            text-align:right; margin:0px; }
        body{ font-size: 14pt; color:#999;
            margin:5px;}
    </style>
    </head>
    <body>
        <head>
            <h1><%=title %></h1>
        </head>
        <div role="main">
            <p><%=content %></p>
            <p><table syle="wodth:400px;">
                <tr><th>伝言です!</th></tr>
                <tr><td><%=data.msg %></td></tr>
                </table></p>
            <p>your last message:<%= cookie_data %></p>
                <form method="post" action="/">
                <p>MESSAGE <input type="text" name="msg">
                <input type="submit" value="送信"></p>
                </form>
        </div>
    </body>
</html>